.bg-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.bg-element {
  position: absolute;
  animation-name: floaty;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes floaty {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-35px) rotate(6deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
